@model IEnumerable<LogisticsAssistant.Models.ScheduledTrips>

@{
    ViewData["Title"] = "Scheduled trips";
}

<h1>Scheduled trips</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Schedule a new trip</a>
</p>

<form asp-controller="ScheduledTrips" asp-action="Index" method="get">
    <p>
        Search in description: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" class="btn btn-secondary"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lorry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDepartue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTripDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="lorryBrand">
                @Html.DisplayFor(modelItem => item.Lorry.LorryBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDepartue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTripDate)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.ScheduledTripId">Edit</a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.ScheduledTripId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ScheduledTripId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div id="Chart"></div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/drawChart.js"></script>
}