@model IEnumerable<LogisticsAssistant.Models.ScheduledTrips>

@{
    ViewData["Title"] = "Scheduled trips";
}

<h1>Scheduled trips</h1>

<p>
    <a asp-action="Create">Schedule a new trip</a>
</p>

<form asp-controller="ScheduledTrips" asp-action="Index" method="get">
    <p>
        Search in discription: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lorry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDepartue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTripDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="lorryBrand">
                @Html.DisplayFor(modelItem => item.Lorry.LorryBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDepartue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTripDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduledTripId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduledTripId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduledTripId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<canvas id="Chart"></canvas>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="~/js/drawChart.js"></script>
}